## Decision Tree Model

In this example, two different files are used to train and validate the machine learning model.  The features are explicitly mapped to the codes to ensure consistency among the training and test dataframes.

In [11]:
# import the things we need first
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [12]:
# we want to read in the csv files provided, noticed the path down in the read_csv() can be changed as we like.
df_train = pd.read_csv('Decision_Tree_bankloan-train.csv') # read in training data file
df_test = pd.read_csv('Decision_Tree_bankloan-test.csv') # read in testing data file
df_test.head() # show the first five rows of the test data

     Age  Has_job  Own_house Credit_rating Outcome
0  young    False      False          fair      No
1  young    False      False          good      No
2  young     True      False          good     Yes
3  young     True       True          fair     Yes
4  young    False      False          fair      No

### Preprocess the data

We are going to put training and testing data in two dataframe.

In [13]:
df_train

       Age  Has_job  Own_house Credit_rating Outcome
0    young    False      False          fair      No
1    young    False      False          good      No
2    young     True      False          good     Yes
3    young     True       True          fair     Yes
4    young    False      False          fair      No
5   middle    False      False          fair      No
6   middle    False      False          good      No
7   middle     True       True          good     Yes
8   middle    False       True     excellent     Yes
9   middle    False       True     excellent     Yes
10     old    False       True     excellent     Yes
11     old    False       True          good     Yes
12     old     True      False          good     Yes
13     old     True      False     excellent     Yes
14     old    False      False          fair      No

In [14]:
df_train['Age']

0      young
1      young
2      young
3      young
4      young
5     middle
6     middle
7     middle
8     middle
9     middle
10       old
11       old
12       old
13       old
14       old
Name: Age, dtype: object

In [15]:
# when we construct the dataframe, Pandas automatically set the type of Has_job and Own_house values to Boolean
# we can change it by mapping them to strings

# dictionary for mapping
boolDict = {
    True: 'True',
    False: 'False'
}

# we should only map these two rows
for i in [1,2]:
    df_train.iloc[:, i] = df_train.iloc[:, i].map(boolDict)
    df_test.iloc[:, i] = df_test.iloc[:, i].map(boolDict)

In [17]:
# to customize what value for each feature to be mapped to 
# we can provide a dictionary that has all the mapping rules


mydict = {
    "Yes": 1,
    "No": 0,
    "True": 0,
    "False": 1,
    "young": 0,
    "middle": 1,
    "old": 2,
    "fair" : 0,
    "good" : 1,
    "excellent" : 2    
}

# construct a function that can take a dataframe and
# map all the categorical values in each column according
# to our dictionary
def outcomeTrans(X):
    cols = list(X)
    for i in cols:
        X[i] = X[i].map(mydict)
        print(type(X[i]))
    return X
        

# mapping for both dataset
outcomeTrans(df_train)
outcomeTrans(df_test)
df_train.head()

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

   Age  Has_job  Own_house  Credit_rating  Outcome
0  NaN      NaN        NaN            NaN      NaN
1  NaN      NaN        NaN            NaN      NaN
2  NaN      NaN        NaN            NaN      NaN
3  NaN      NaN        NaN            NaN      NaN
4  NaN      NaN        NaN            NaN      NaN

In [7]:
type(df_train['Age'][0])

numpy.int64

In [8]:
df_test

   Age  Has_job  Own_house  Credit_rating  Outcome
0    0        1          1              0        0
1    0        1          1              1        0
2    0        0          1              1        1
3    0        0          0              0        1
4    0        1          1              0        0
5    1        1          1              0        0
6    1        1          1              1        0

We have the data prepared.

In [9]:
# RUN THIS
# set training data variable & target
# set testing data variable & target
x_train = df_train.iloc[:, 0:4]
y_train = df_train['Outcome']
x_test = df_test.iloc[:, 0:4]
y_test = df_test['Outcome']

In [10]:
x_train

    Age  Has_job  Own_house  Credit_rating
0     0        1          1              0
1     0        1          1              1
2     0        0          1              1
3     0        0          0              0
4     0        1          1              0
5     1        1          1              0
6     1        1          1              1
7     1        0          0              1
8     1        1          0              2
9     1        1          0              2
10    2        1          0              2
11    2        1          0              1
12    2        0          1              1
13    2        0          1              2
14    2        1          1              0

### Train the Model

In [11]:
# import decision tree model from sklearn
from sklearn.tree import DecisionTreeClassifier

# instantiate a decision tree model. All parameters can be omited to use default ones.
# details please check https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html
dt = DecisionTreeClassifier() 
dt.fit(x_train, y_train) # train our model

DecisionTreeClassifier()

### Evaluate the model

In [12]:
x_train

    Age  Has_job  Own_house  Credit_rating
0     0        1          1              0
1     0        1          1              1
2     0        0          1              1
3     0        0          0              0
4     0        1          1              0
5     1        1          1              0
6     1        1          1              1
7     1        0          0              1
8     1        1          0              2
9     1        1          0              2
10    2        1          0              2
11    2        1          0              1
12    2        0          1              1
13    2        0          1              2
14    2        1          1              0

In [13]:
y_train

0     0
1     0
2     1
3     1
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    0
Name: Outcome, dtype: int64

In [14]:
y_pred = dt.predict(x_test) # let the model predict the test data

In [15]:
y_test

0    0
1    0
2    1
3    1
4    0
5    0
6    0
Name: Outcome, dtype: int64

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

1.0

In [17]:
print(y_pred) # what the model predict entertainment labels
print(y_test) # true labels

[0 0 1 1 0 0 0]
0    0
1    0
2    1
3    1
4    0
5    0
6    0
Name: Outcome, dtype: int64

Compare the predicted labels and true labels. The accuracy score formula can be seen as

$$ accuracy\_score = \frac{number\_of\_matches}{number\_of\_samples} $$

In [18]:
## we can use the model to predict any data

print(dt.predict([[1, 0, 1,1]])) 
print(dt.predict([[1, 0, 0,1]]))

[1]
[1]

C:\Users\ASUS\anaconda3\envs\mlexercise\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
C:\Users\ASUS\anaconda3\envs\mlexercise\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [19]:
x_test_simple = [[1, 0, 1,1]]
y_test_simple = [1]
y_pred_simple = dt.predict(x_test_simple)
print(y_test_simple)
print(y_pred_simple)

[1]
[1]

C:\Users\ASUS\anaconda3\envs\mlexercise\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

### Visualize the Decision Tree

we can use `graphviz` to see what the decision tree looks like

First, run this in the directory this file is in
```
conda install python-graphviz
```

In [20]:
# show the decision tree model
# import graphviz and sklearn.tree first
from sklearn import tree
import graphviz
from graphviz import Source

Source(tree.export_graphviz(dt, out_file=None, class_names=True, feature_names= x_train.columns)) # display the tree, with no output file

In [21]:
from sklearn import tree
import graphviz
from graphviz import Source

Source(tree.export_graphviz(dt, out_file=None, class_names=['No', 'Yes'], feature_names= x_train.columns)) # display the tree, with no output file

- first row is the feature the tree uses to group child nodes. For example: from the root, any data with has_job <= 0.5
    goes to the left child, any data with has_job > 0.5 goes to the right child
- second row is the gini score which gives how good the split is. the best scenario is gini = 0 which means all data
    in this group are from the same class. gini = 0.5 means half of the group are from one class the others are from the other one
- thrid row is how many samples go in this group
- fourth row is an array with the number of each class in this group. e.g. the root has value = [1, 11] which means
    one class 0 and eleven class 1 are in this group
- fifth row gives what class most data in this group are in